@model SistemaTareas.model.HistorialTarea

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HistorialTarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HistorialId" />
            <div class="form-group">
                <label asp-for="CampoModificado" class="control-label"></label>
                <input asp-for="CampoModificado" class="form-control" />
                <span asp-validation-for="CampoModificado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorAnterior" class="control-label"></label>
                <input asp-for="ValorAnterior" class="form-control" />
                <span asp-validation-for="ValorAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorNuevo" class="control-label"></label>
                <input asp-for="ValorNuevo" class="form-control" />
                <span asp-validation-for="ValorNuevo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCambio" class="control-label"></label>
                <input asp-for="FechaCambio" class="form-control" />
                <span asp-validation-for="FechaCambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TareaId" class="control-label"></label>
                <select asp-for="TareaId" class="form-control" asp-items="ViewBag.TareaId"></select>
                <span asp-validation-for="TareaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CambiadoPorId" class="control-label"></label>
                <select asp-for="CambiadoPorId" class="form-control" asp-items="ViewBag.CambiadoPorId"></select>
                <span asp-validation-for="CambiadoPorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
